@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyBank!</h1>
    <p><a asp-controller="Admin" asp-action="Index">For administrators</a></p>
    <p><a>For clients</a></p>
</div>
