# Password for DB access
DB_PASSWORD=YourStrong@DbPassword123

# Ports and environments
APP_ENV=Development
APP_URLS=https://+:443;http://+:80

# Path to the server certificate on the host
# Check out https://learn.microsoft.com/en-us/aspnet/core/security/docker-compose-https
# to learn how to generate certificate for local use
HOST_CERT_PATH=/home/user/.aspnet/https

# Path to the certificate inside the container
CONTAINER_CERT_PATH=/https/aspnetapp.pfx

# Certificate password
CERT_PASSWORD=YourStrong@CertPassword123
