@{
	ViewData["Title"] = "My Bank - Close Account";
}

@model CloseAccountViewModel

<h3>Close account</h3>

Are you sure you want to close account @Model.Id? This action cannot be undone.

<form asp-antiforgery="true">
	<input type="hidden" asp-for="Id"></input><br/>
	<br/>
	<input type="submit" class="button" value="Close the account"></input>
</form>