<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Web" asp-controller="Client" asp-action="Index">My profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Web" asp-controller="DepositAndWithdrawal" asp-action="Index">Deposit and withdrawal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Web" asp-controller="MoneyTransfer" asp-action="Index">Money transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Web" asp-controller="TransactionHistory" asp-action="Index">Transaction history</a>
        </li>
    </ul>
</div>