@{
	ViewData["Title"] = "My Bank - Money Transfer";
}

@model MoneyTransferViewModel

@* TODO: Add currency and polish account numbers *@

<h3>Money transfer</h3>

@if (Model.FromAccounts.Count == 0)
{
	<p>
		You don't have any accounts. Please
		<a asp-controller="Profile" asp-action="OpenNewAccount">open an account</a>
		to make money transfers.
	</p>
}
else
{
	<form asp-antiforgery="true">
		<div class="validation" asp-validation-summary="All"></div>
		<label asp-for="FromAccount"></label><br/>
		<select asp-for="FromAccount" asp-items="Model.FromAccounts"></select><br/>
		<label asp-for="ToAccount"></label><br/>
		<select asp-for="ToAccount" asp-items="Model.ToAccounts"></select><br/>
		<label asp-for="Amount"></label><br/>
		<input asp-for="Amount"/><br/>

		<br/>
		<input type="submit" class="button" value="Send money"/>
	</form>			
}

@if (TempData["Message"] != null)
{
	@TempData["Message"]
}